In [30]:
from pycaret.datasets import get_data
import matplotlib.pyplot as plt
import pandas as pd

In [31]:
dataset = get_data('final_data')

,Consumer_Number,01/01 01:00:00,01/01 02:00:00,01/01 03:00:00,01/01 04:00:00,01/01 05:00:00,01/01 06:00:00,01/01 07:00:00,01/01 08:00:00,01/01 09:00:00,...,12/31 15:00:00,12/31 16:00:00,12/31 17:00:00,12/31 18:00:00,12/31 19:00:00,12/31 20:00:00,12/31 21:00:00,12/31 22:00:00,12/31 23:00:00,12/31 24:00:00
0,1,1.019364,0.887116,0.833463,0.818020,0.812916,0.865135,1.087779,1.429298,1.382221,...,1.172657,1.257689,1.568955,2.123067,2.399626,2.191529,2.079864,1.912630,1.582459,1.266258
1,2,1.059830,0.933796,0.883621,0.867707,0.864937,0.924308,1.175694,1.501917,1.451336,...,1.217425,1.314985,1.629493,2.201964,2.428933,2.264366,2.165106,2.000394,1.667626,1.354412
2,3,0.971885,0.799060,0.741189,0.738245,0.786836,1.052912,1.677806,2.085997,2.020187,...,1.309095,1.409193,1.770302,2.387119,2.744496,2.606099,2.453464,2.217093,1.778541,1.344376
3,4,0.974334,0.796582,0.735028,0.727433,0.778706,1.041460,1.653672,2.093007,2.022476,...,1.285529,1.384085,1.747122,2.367964,2.735819,2.601121,2.445630,2.206391,1.769166,1.335991
4,5,0.958425,0.772773,0.715845,0.718761,0.777066,1.056108,1.691219,2.094531,2.004527,...,1.352693,1.451622,1.816727,2.453623,2.800002,2.664902,2.512288,2.279817,1.845666,1.415065

In [32]:
# check the shape of data
dataset.shape

(15, 8761)

In [32]:
# for index, row in dataset.iterrows():
#     plt.figure()  # Create a new figure for each plot
#     plt.plot(row.index[1:], row.values[1:], marker='o')  # Skip the first column which is the row_id
#     plt.xlabel('Column')
#     plt.ylabel('Value')
#     plt.show()  # Display the plot

In [33]:
data = dataset.sample(frac=0.70, random_state=786)
data_unseen = dataset.drop(data.index)

data.reset_index(drop=True, inplace=True)
data_unseen.reset_index(drop=True, inplace=True)

print('Data for Modeling: ' + str(data.shape))
print('Unseen Data For Predictions: ' + str(data_unseen.shape))

Data for Modeling: (10, 8761)
Unseen Data For Predictions: (5, 8761)

In [34]:
from pycaret.anomaly import *

exp_ano101 = setup(data, normalize = False, preprocess = False,
                   ignore_features = ['Customer_Number'],
                   session_id = 123)

In [35]:
iforest = create_model('iforest')
print(iforest)

IForest(behaviour='new', bootstrap=False, contamination=0.05,
    max_features=1.0, max_samples='auto', n_estimators=100, n_jobs=-1,
    random_state=123, verbose=0)

In [36]:
svm = create_model('svm', fraction = 0.025)
print(svm)

OCSVM(cache_size=200, coef0=0.0, contamination=0.025, degree=3, gamma='auto',
   kernel='rbf', max_iter=-1, nu=0.5, shrinking=True, tol=0.001,
   verbose=False)

In [37]:
models()

,Name,Reference
ID,,
abod,Angle-base Outlier Detection,pyod.models.abod.ABOD
cluster,Clustering-Based Local Outlier,pycaret.internal.patches.pyod.CBLOFForceToDouble
cof,Connectivity-Based Local Outlier,pyod.models.cof.COF
iforest,Isolation Forest,pyod.models.iforest.IForest
histogram,Histogram-based Outlier Detection,pyod.models.hbos.HBOS
knn,K-Nearest Neighbors Detector,pyod.models.knn.KNN
lof,Local Outlier Factor,pyod.models.lof.LOF
svm,One-class SVM detector,pyod.models.ocsvm.OCSVM
pca,Principal Component Analysis,pyod.models.pca.PCA
mcd,Minimum Covariance Determinant,pyod.models.mcd.MCD
sod,Subspace Outlier Detection,pyod.models.sod.SOD
sos,Stochastic Outlier Selection,pyod.models.sos.SOS

In [38]:
iforest_results = assign_model(iforest)
iforest_results.head()

,Consumer_Number,01/01 01:00:00,01/01 02:00:00,01/01 03:00:00,01/01 04:00:00,01/01 05:00:00,01/01 06:00:00,01/01 07:00:00,01/01 08:00:00,01/01 09:00:00,...,12/31 17:00:00,12/31 18:00:00,12/31 19:00:00,12/31 20:00:00,12/31 21:00:00,12/31 22:00:00,12/31 23:00:00,12/31 24:00:00,Anomaly,Anomaly_Score
0,6,1.627285,1.562413,1.638407,1.627054,1.663545,1.857637,2.235947,2.230571,2.273755,...,1.564336,2.100552,2.407658,2.279332,2.151516,1.953495,1.635020,1.578381,0,-0.042929
1,4,0.974334,0.796582,0.735028,0.727433,0.778706,1.041460,1.653672,2.093007,2.022476,...,1.747122,2.367964,2.735819,2.601121,2.445630,2.206391,1.769166,1.335991,0,-0.115751
2,10,1.673136,1.845864,2.055265,2.120857,2.255869,2.575408,3.838729,3.272375,2.885542,...,1.565332,2.305614,2.408231,2.279801,2.151931,1.953861,1.757506,1.547144,0,-0.039139
3,2,1.059830,0.933796,0.883621,0.867707,0.864937,0.924308,1.175694,1.501917,1.451336,...,1.629493,2.201964,2.428933,2.264366,2.165106,2.000394,1.667626,1.354412,0,-0.001044
4,3,0.971885,0.799060,0.741189,0.738245,0.786836,1.052912,1.677806,2.085997,2.020187,...,1.770302,2.387119,2.744496,2.606099,2.453465,2.217093,1.778541,1.344376,0,-0.096764

In [39]:
#plot_model(iforest, plot = 'tsne')

In [40]:
#plot_model(iforest, plot = 'umap')

In [41]:
unseen_predictions = predict_model(iforest, data=data_unseen)
unseen_predictions.head()

,Consumer_Number,01/01 01:00:00,01/01 02:00:00,01/01 03:00:00,01/01 04:00:00,01/01 05:00:00,01/01 06:00:00,01/01 07:00:00,01/01 08:00:00,01/01 09:00:00,...,12/31 17:00:00,12/31 18:00:00,12/31 19:00:00,12/31 20:00:00,12/31 21:00:00,12/31 22:00:00,12/31 23:00:00,12/31 24:00:00,Anomaly,Anomaly_Score
0,8,0.975380,0.809556,0.755560,0.755894,0.809236,1.078269,1.694840,2.109371,2.022193,...,1.747269,2.378168,2.736138,2.610414,2.460669,2.232509,1.800243,1.375056,0,-0.093985
1,11,1.333667,1.559547,1.722845,1.869151,2.048394,2.405079,3.319701,2.759699,2.102875,...,1.563611,2.099165,2.406144,2.277705,2.149506,1.951044,1.568547,1.187331,0,-0.044874
2,12,3.859083,3.968035,4.004536,4.077654,4.139745,4.366048,4.719204,4.948649,4.844748,...,1.564131,2.099335,2.406322,2.277886,2.149690,1.951211,1.568541,1.187242,0,-0.036350
3,14,0.999294,0.829909,0.774684,0.778654,0.829653,1.097948,1.713672,2.156692,2.052520,...,1.782567,2.435253,2.792109,2.662121,2.519910,2.295054,1.864199,1.438560,0,-0.088548
4,15,0.795233,0.636255,0.580725,0.571085,0.605530,0.852754,2.067886,1.825608,1.639719,...,1.959239,3.280623,2.804581,2.573026,2.477439,2.394119,2.204588,2.018697,0,-0.039725

In [42]:
data_predictions = predict_model(iforest, data = data)
data_predictions

,Consumer_Number,01/01 01:00:00,01/01 02:00:00,01/01 03:00:00,01/01 04:00:00,01/01 05:00:00,01/01 06:00:00,01/01 07:00:00,01/01 08:00:00,01/01 09:00:00,...,12/31 17:00:00,12/31 18:00:00,12/31 19:00:00,12/31 20:00:00,12/31 21:00:00,12/31 22:00:00,12/31 23:00:00,12/31 24:00:00,Anomaly,Anomaly_Score
0,6,1.627285,1.562412,1.638407,1.627054,1.663545,1.857637,2.235947,2.230571,2.273755,...,1.564336,2.100552,2.407658,2.279332,2.151516,1.953495,1.635020,1.578381,0,-0.042929
1,4,0.974334,0.796582,0.735028,0.727433,0.778706,1.041460,1.653672,2.093007,2.022476,...,1.747122,2.367964,2.735819,2.601121,2.445630,2.206391,1.769166,1.335991,0,-0.115751
2,10,1.673136,1.845864,2.055265,2.120857,2.255869,2.575408,3.838729,3.272375,2.885542,...,1.565332,2.305614,2.408231,2.279801,2.151931,1.953861,1.757506,1.547144,0,-0.039139
3,2,1.059830,0.933796,0.883621,0.867707,0.864937,0.924308,1.175694,1.501917,1.451336,...,1.629493,2.201964,2.428933,2.264366,2.165106,2.000394,1.667626,1.354412,0,-0.001044
4,3,0.971885,0.799060,0.741189,0.738245,0.786836,1.052912,1.677806,2.085997,2.020187,...,1.770302,2.387119,2.744496,2.606099,2.453464,2.217093,1.778541,1.344376,0,-0.096764
5,1,1.019364,0.887116,0.833463,0.818020,0.812916,0.865135,1.087779,1.429298,1.382221,...,1.568955,2.123067,2.399626,2.191529,2.079864,1.912630,1.582459,1.266258,1,0.000854
6,9,0.971997,0.780098,0.711106,0.703421,0.755579,1.026737,1.657803,2.088615,2.019930,...,1.829787,2.468979,2.816350,2.680298,2.528432,2.293691,1.861799,1.428639,0,-0.097116
7,7,1.533276,1.421799,1.478283,1.540656,1.598901,1.754762,2.500879,2.269848,1.942238,...,1.565869,2.116775,2.408166,2.279725,2.151580,1.953105,1.570571,1.189443,0,-0.065545
8,13,2.263328,2.274430,2.474037,2.575072,2.633514,2.886102,4.190116,4.555777,3.090089,...,2.380752,3.441798,2.972413,2.731090,2.695840,2.666069,2.501443,2.349035,0,-0.033783
9,5,0.958425,0.772773,0.715845,0.718761,0.777066,1.056108,1.691219,2.094531,2.004527,...,1.816727,2.453623,2.800002,2.664902,2.512288,2.279817,1.845666,1.415065,0,-0.088998